<h1>Fantasy Football Site Admin</h1>
<b>leagues</b><br /><br />
<b>divisions</b><br /><br />
<b>users</b><br /><br />
<li>password authentication</li><br />
<b>owners</b><br /><br />
<li>fix association to users</li><br />
<b>teams</b><br /><br />
<b>games</b><br /><br />
<li>importer to bring in csv</li><br />
<li>button to print report for espn messageboard</li><br />
<li>method to get record for owner, or add migration to add winner_id to games</li><br />


